body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chart-wrapper {
  width: 50%;
  display: inline-block;
}

.red-label {
  transform: translateX(-20px);
}
